@font-face {
  font-family: "myFont";
  src: url(PlayfairDisplay-VariableFont_wght.ttf);
}

body {
  font-family: "myFont";
  color: white;
}

header {
  color: hsl(0, 100, 100);
  position: static;
}

div {
  position: relative;
  font-size: 2em;
  margin: 30px 40vw 10px;
}

main {
  padding-top: 80px;
  padding-right: 80px;
  padding-bottom: 50px;
  padding-left: 80px;
}

footer {
  padding: 25px;
}

img {
  /* element selector */
  border-radius: 8px; /* border radius */
  border-width: 3pt;
  border-style: solid;
  border-color: black;
  display: block;
  margin: auto;
}

img:hover {
  /* pseudo class - exists when hovering over image */
  box-shadow: 0 0 2mm 1px rgba(0, 140, 186, 0.5);
}

.parent {
  display: flex;
  justify-content: center; /* makes centered */
}

.child1 {
  flex-grow: 1;
}
.child2 {
  flex-grow: 1;
}
.child3 {
  flex-shrink: 1;
}

ul > li {
  display: flex;
  color: teal;
}

#day1,
#day2,
#day3 {
  text-decoration: violet wavy underline;
  margin-top: 30px;
}

a [href="#day1"] {
  font-size: large;
}

*.spell {
  color: thistle;
}

video {
  height: 50vh;
  width: 50vw;
  max-height: 300px;
}

audio {
  max-width: 300px;
}

button:active {
  color: thistle;
}

li:first-of-type + li {
  color: thistle;
}

h3 ~ p {
  font-size: large;
}

/* selects the first letter of a <p> */
p::first-letter {
  font-size: 140%;
}
